* {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: rgb(218, 241, 231);
    justify-content: center;
    text-align: center;
}

button {
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px;
}
button:hover {
    background-color: rgb(255, 108, 108);
    cursor: pointer;
}

h1 {
    color: rgb(5, 47, 41);
    font-size: 40px;
    letter-spacing: 15px;
}

input[type="radio"] {
    transform: scale(1.5);
}

.available-player {
    position: relative;
}

.checkmark {
    position: absolute;
    top: 0px; 
    right: 15px; 
    font-size: 40px; 
    color: blue; 
    display: none; /* Initially hidden */
}

.choose-players input {
    border: 1px, solid #ccc;
    border-radius: 10px;
    padding: 8px;
}

.players-grid div:hover {
    background-color: rgb(72, 148, 72);
    cursor: pointer;
}

.baseball-diamond {
    background-image: url("./images/baseballdiamond.png");
    background-size: contain;
    position: relative;
    width: 400px;
    height: 375px;
}

.choose-players {
    background-color: rgb(0, 108, 0);
    border-style: none;
    border-radius: 50px;
    color: rgb(251, 249, 239);
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    line-height: 2;
    margin: 0 auto;
    padding: 15px;
    width: 50%;
}

.div-table {
    display: table;         
    width: auto;                
    border-spacing: 5px; /* cellspacing:poor IE support for this */
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}
.div-table-cell {
    background-color: rgba(0, 0, 0, 0.808);
    border-radius: 5px;
    display: table-cell;    
    font-family: "Oswald", sans-serif;
    font-size: 30px;            
    min-width: 30px;  
    padding: 6px;
}
.div-gap-table-cell {
    display: table-cell;
    min-width: 30px;
    padding: 5px;
}

.noninteractive-display-div {
    display: flex;
    justify-content: center;
}

.players-grid div {
    display: inline-block;
    max-width: 70px;
}

.players-grid img {
    margin-bottom: -15px;
}

.scoreboard {
    background-color: rgb(33, 75, 61);
    border-color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    color: rgba(255, 255, 255, 0.897);
    padding: 15px;
}

.stitched-baseball-div {
    background-color: white;
    border-color: red;
    border-radius: 50px;
    border-style: dashed;
    border-width: 2px;
    letter-spacing: 2px;
    line-height: 2;
    padding: 15px;
    width: 50%;
}
.stitched-baseball-div button {
    background-color: red;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 8px;
}
.stitched-baseball-div button:hover {
    background-color: rgb(255, 108, 108);
    cursor: pointer;
}
.stitched-baseball-div input {
    border: 1px, solid #ccc;
    border-radius: 10px;
    padding: 8px;
}

#question {
    font-weight: bold;
}

#horizontal-gap {
    width: 20px;
}

#user-inputs-div {
    display: flex;
    justify-content: center;
}

#vertical-gap {
    height: 20px;
}